body{
    font-family: 'Poppins', sans-serif;
}

.nav{
    background-color: #E5E5E5 !important;
}

.navbar.navbar-expand-lg{
    margin-left: 90px !important;
    margin-right: 90px !important;
}

.navbar-brand{
    color: #150544 !important;
    font-size: 32px;
    font-weight: 600;
}

.navbar-nav li{
    margin-right: 20px;
}

.nav-link{
    color: #5A6772 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.nav-link:hover{
    color: #150544 !important;
}

.btn-primary-x{
    color: #fff;
    background-color: #150544;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}

.btn-primary-x:hover{
    color: #fff;
    background-color: #200868;
}
